@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

.aboutus-section {
    padding: 90px 0;
    background: linear-gradient(to bottom right, #ffffff, #e2e6db);
    font-family: Roboto;


}

.aboutus-section .container2 {
    padding-left: 10rem;


}


.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #0B473F;
}

.aboutus-title::after {
    background: #a09986 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #ffbe5d;
    font-size: 15px;
    line-height: 32px;
    margin: 0 0 45px;
    text-align: justify;
    white-space: normal;
    inline-size: 55rem;
    font-weight: bold;
    


}

a:hover,
a:active {
    color: #000000;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #000000;
    border-radius: 25px;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: none;
}

@media only screen and (max-width:767px) {
    .aboutus-text {
        inline-size: 13rem;
        
    }

}